{% extends 'publica/base.html' %}
{% load static %}


{% block content %}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contacto</h2>
          <ol>
            <li><a href="{% url 'publica:home' %}">Home</a></li>
            <li>Contacto</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
      <!-- Success message -->
      {% if messages %}
      <div class="row justify-content-center mt-5" data-aos="fade-up">
          <div class="col-lg-10">
              {% for message in messages %}
              <div class="alert alert-success" role="alert">
                  {{ message }}
              </div>
              {% endfor %}
          </div>
      </div>
      {% endif %}
    <div class="map-section">
      <iframe style="border:0; width: 100%; height: 350px;"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d819.4318435550374!2d-58.20170523045432!3d-34.762459796557465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32f4d64a04803%3A0xf8c49d511ee74c27!2sAv.%20Pres.%20Dr.%20N%C3%A9stor%20Kirchner%201830%2C%20B1884%20Berazategui%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1694193822478!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <!--iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-58.30435296676284!3d-34.718999303294794!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe-->
    </div>

    <section id="contact" class="contact">
      <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Dirección: </h4>
                  <p>Av. Néstor kirchner N°1830<br>Berazategui, Buenos Aires</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>egselectricidadweb@gmail.com<!--br--></p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Teléfono:</h4>
                  <p>54 011 1539054875<br>54 011 7706-9410</p>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <form action="{% url 'publica:contacto' %}" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="text-center"><button type="submit">Enviar consulta</button></div>
            </form>
            
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}