<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-contact">
            <h3>EGS Electricidad</h3>
            <p>
              Av. Néstor kirchner N° 1830 <br>
              Berazategui, Buenos Aires<br>
              Argentina <br><br>
              <strong>Teléfono:</strong> 011 1539054875 / 11 7706-9410<br>
              <strong>Email:</strong> egselectricidadweb@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-6 col-md-6 footer-links">
            <h4>Links Útiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'publica:home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'publica:pricing' %}">Productos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'publica:services' %}">Servicios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'publica:about' %}">Empresa</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'publica:contacto' %}">Contacto</a></li>
            </ul>
          </div>

          <!--div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div-->

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Palacio de Cristal</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/ -->
          Designed by <a href="https://bootstrapmades.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <!--a href="#" class="twitter"><i class="bx bxl-twitter"></i></a-->
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i>Falta dirección</a>
        <!--a href="#" class="instagram"><i class="bx bxl-instagram"></i>Falta dirección</a-->
        <!--a href="#" class="google-plus"><i class="bx bxl-skype"></i></a-->
        <a href="#" class="whatsapp"><i class="bx bxl-whatsapp"></i>Falta dirección</a>
      </div>
    </div>
  </footer><!-- End Footer -->