<section id="cta" class="cta">
    <div class="container">

      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3> ¿Listo para dar vida a tus proyectos eléctricos? <span>EGS Electricidad</span>  estamos aquí para ayudarte. </h3>
          <!--p> </p-->
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="{% url 'publica:presupuesto' %}" >¡Contáctanos hoy mismo para comenzar!</a>
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->