<section id="cta" class="cta">
    <div class="container">

      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3> Texto N°4 falta <span>5.200 proyectos</span>  de construcción </h3>
          <p> Agregar un texto sobre la actividad .</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="{% url 'publica:presupuesto' %}" >Solicitar un presupuesto</a>
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->