{% load static %}

<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <!--li data-filter="*" class="filter-active">Todos</li-->
            <li data-filter=".filter-tra">Servicios</li>
            <li data-filter=".filter-elec">Iluminación</li>
            <li data-filter=".filter-tabl">Instalaciones</li>
            <li data-filter=".filter-prod">Productos</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up">
        <div class="col-lg-4 col-md-6 portfolio-item filter-tra">
          <img src="{% static 'assets/img/portfolio/portfolio-tra-11.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Servicio de instalación</h4>
            <p>Oficinas</p>
            <a href="{% static 'assets/img/portfolio/portfolio-tra-11.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Servicios para empresas"><i class="bx bx-plus"></i></a>
            <!--a href=""class="details-link" title="More Details"><i class="bx bx-link"></i></a-->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-elec">
          <img src="{% static 'assets/img/portfolio/portfolio-elec-03.png' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Iluminación</h4>
            <p>Casa</p>
            <a href="{% static 'assets/img/portfolio/portfolio-elec-03.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Insumos electricos"><i class="bx bx-plus"></i></a>
            <!--a href=""class="details-link" title="More Details"><i class="bx bx-link"></i></a-->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-tra">
          <img src="{% static 'assets/img/portfolio/portfolio-tra-02.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Tablero</h4>
            <p>Casa</p>
            <a href="{% static 'assets/img/portfolio/portfolio-tra-02.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Armado tablero general casa"><i class="bx bx-plus"></i></a>
            <!--a href=""class="details-link" title="More Details"><i class="bx bx-link"></i></a-->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-tra">
          <img src="{% static 'assets/img/portfolio/portfolio-tra-01.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Distribuidor</h4>
            <p>Casa</p>
            <a href="{% static 'assets/img/portfolio/portfolio-tra-01.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Tablero distribuidor 1° piso"><i class="bx bx-plus"></i></a>
            <!--a href=""class="details-link" title="More Details"><i class="bx bx-link"></i></a-->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-elec">
          <img src="{% static 'assets/img/portfolio/portfolio-elec-04.png' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Iluminación interior</h4>
            <p>Casa</p>
            <a href="{% static 'assets/img/portfolio/portfolio-elec-04.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Iluminacion casa interior"><i class="bx bx-plus"></i></a>
            <!--a href=""class="details-link" title="More Details"><i class="bx bx-link"></i></a-->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-elec">
          <img src="{% static 'assets/img/portfolio/portfolio-elec-05.png' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Iluminación jardín</h4>
            <p>Casa</p>
            <a href="{% static 'assets/img/portfolio/portfolio-elec-05.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Iluminación casa jardín"><i class="bx bx-plus"></i></a>
            <!--a href=""class="details-link" title="More Details"><i class="bx bx-link"></i></a-->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-tabl">
          <img src="{% static 'assets/img/portfolio/portfolio-tabl-06.jpeg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Tablero general</h4>
            <p>Oficina</p>
            <a href="{% static 'assets/img/portfolio/portfolio-tabl-06.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Tablero general oficina"><i class="bx bx-plus"></i></a>
            <!--a href=""class="details-link" title="More Details"><i class="bx bx-link"></i></a-->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-tabl">
          <img src="{% static 'assets/img/portfolio/portfolio-tabl-07.jpeg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Tendido distribución</h4>
            <p>Oficina</p>
            <a href="{% static 'assets/img/portfolio/portfolio-tabl-07.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Tendido de distribucion oficina"><i class="bx bx-plus"></i></a>
            <!--a href=""class="details-link" title="More Details"><i class="bx bx-link"></i></a-->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-tabl">
          <img src="{% static 'assets/img/portfolio/portfolio-tabl-08.jpeg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Tablero secundario</h4>
            <p>Oficina</p>
            <a href="{% static 'assets/img/portfolio/portfolio-tabl-08.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Tablero secundario oficina"><i class="bx bx-plus"></i></a>
            <!--a href=""class="details-link" title="More Details"><i class="bx bx-link"></i></a-->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-tabl">
          <img src="{% static 'assets/img/portfolio/portfolio-tabl-09.jpeg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Tablero principal</h4>
            <p>Oficina</p>
            <a href="{% static 'assets/img/portfolio/portfolio-tabl-09.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Tablero principal oficina"><i class="bx bx-plus"></i></a>
            <!--a href=""class="details-link" title="More Details"><i class="bx bx-link"></i></a-->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-prod">
          <img src="{% static 'assets/img/portfolio/portfolio-prod-10.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Herramientas</h4>
            <p>Calidad</p>
            <a href="{% static 'assets/img/portfolio/portfolio-prod-10.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Herramientas"><i class="bx bx-plus"></i></a>
            <!--a href=""class="details-link" title="More Details"><i class="bx bx-link"></i></a-->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-prod">
          <img src="{% static 'assets/img/portfolio/portfolio-prod-12.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Conexiones</h4>
            <p>Servicios</p>
            <a href="{% static 'assets/img/portfolio/portfolio-prod-12.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Conexiones"><i class="bx bx-plus"></i></a>
            <!--a href=""class="details-link" title="More Details"><i class="bx bx-link"></i></a-->
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->