<section id="services" class="services">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box" data-aos="fade-up" >
            <div class="icon"><i class="bi bi-type custom-icon">Cambre</i></div>
            <div class="video-container" >
              {% verbatim %}
              <!-- Código de inserción de YouTube, se reproducen ahí -->
              <iframe src="https://www.youtube.com/embed/4ElVW06lSwk?vq=small"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              {% endverbatim %}
            </div>
          </div>
        </div>
        

        <div class="col-lg-4 col-md-6">
          <div class="icon-box" data-aos="fade-up" >
            <div class="icon"><i class="bi bi-type custom-icon">ABB</i></div>
            <div class="video-container" >
              {% verbatim %}
              <!-- Código de inserción de YouTube -->
              <iframe src="https://www.youtube.com/embed/cJMOvDVdQDo?vq=small" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              {% endverbatim %}
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6">
          <div class="icon-box" data-aos="fade-up" >
            <div class="icon"><i class="bi bi-type custom-icon">KALOP</i></div>
            <div class="video-container" >
              {% verbatim %}
              <!-- Código de inserción de YouTube -->
              <iframe src="https://www.youtube.com/embed/HPyJougR-xM?vq=small" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              {% endverbatim %}
            </div>
          </div>
        </div>

       

    </div>
  </section><!-- End Services Section -->